.pageLayout{
    display:flex;
    justify-content:space-between;
}

.leftSideBarNav{
    border: 15px solid green;
    flex-grow: 0.1;
}

.mainContainer{
    border : 10px solid red;
    padding-top: 0px;
    padding-bottom: 0px;
    flex-grow:1;
    background-color: lightgrey;
    padding:0.5%
}

.content{
    align-items: left;
    padding-top: 0px;
    padding-bottom: 0px;
    flex-grow:1;
    border: 5px solid yellow
}

