.cardBase {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    padding: 0.70rem;
}

.prodCard {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1rem;
    line-height: 0.8;
}

.custCard {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 1rem;
    line-height: 0.8;
    justify-content: center;
}

.ordCard {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 1rem;
    line-height: 0.8;
    justify-content: space-between;
}