.item {
    padding: 5px;
    height: 100px;
    width: 100px;
}

.itemContent {
    padding: 5px;
}

.result {
    display: flex;
    padding: 5px;
    flex: 1;

    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}