.cart {
    position: fixed;
    height: 100vh;
    width: 30vw;
    right: -100vw;
    top: 0;
    transition: right 0.3s ease;
    background-color: #edf0f3;
    z-index: 1000
  }

.checkoutButton{
  display: flex;
  cursor: pointer;
  position: fixed;
  height: 37px;
  width: 28vw;
  background-color: lightslategray;
  justify-content: center;
  align-items: center;
  top: 87vh;
  transition: right 0.3s ease;
  right: -100vw;
}
  
.cart.open {
  right: 0;
}

.checkoutButton.open {
  right: 1%;
}

.cartButton {
    display: flex;
    cursor: pointer;
    position: fixed;
    height: 37px;
    width: 400px;
    background-color: lightslategray;
    justify-content: center;
    align-items: center;
    bottom: 25px;
}



.dissapear {
  visibility: hidden
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
  pointer-events: auto;
}