html,
body {
  background-color: #f8fafc;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  /*outline: 2px solid red;*/
  box-sizing: border-box;
  border: 0px solid white;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

code {
  background: #e2e8f0;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.product{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 50px auto;
}

.productName {
  text-align: left;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 8px;
  margin: 0 20px;
}

.productDescription {
  text-align: left;
  font-size: 0.95rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  margin: 0 20px;
}

.productPrice {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 8px;
  margin: 0 20px;
}

.productPrice b {
  font-weight: 500;
}

.productQuantity {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 8px;
  margin: 3rem 20px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
